{% extends '__base__.html' %}

{% block title %}用户管理{% endblock %}

{% block beforehead %}

<script type="text/javascript">
function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            users: data.users,
            page: data.page
        },
        methods: {
            edit_user: function (user) {
                location.assign('/manage/users/edit?id=' + user.id);
            },
            delete_user: function (user) {
                if (confirm('确认要删除用户“' + user.name + '”？删除后不可恢复！')) {
                    postJSON('/api/users/' + user.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err);
                        }
                        refresh();
                    });
                }
            }
        }
    });
    $('#vm').show();
}
$(function() {
    getJSON('/api/users', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}

{% block content %}

<div class="uk-width-1-1 uk-margin-bottom">
    <div class="uk-panel uk-panel-box">
        <ul class="uk-breadcrumb">
            <li><a href="/manage/comments">评论</a></li>
            <li><a href="/manage/blogs">日志</a></li>
            <li class="uk-active"><span>用户</span></li>
        </ul>
    </div>
</div>

<div id="error" class="uk-width-1-1">
</div>

<div id="loading" class="uk-width-1-1 uk-text-center">
    <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
</div>

<div id="vm" class="uk-width-1-1">
    <a href="/register" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 新用户</a>

    <table class="uk-table uk-table-hover">
        <thead>
            <tr>
                <th class="uk-width-5-10">用户名</th>
                <th class="uk-width-2-10">邮箱</th>
                <th class="uk-width-2-10">创建时间</th>
                <th class="uk-width-1-10">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in users">
                <td>
                    <a target="_blank" :href= "'/user/'+user.id" v-text="user.name"></a>
                </td>
                <td>
                    <a target="_blank" :href= "'/user/'+user.id" v-text="user.email"></a>
                </td>
                <td>
                    <span v-text="user.created_at.toDateTime()"></span>
                </td>
                <td>
                    <a href="#0" @click="edit_user(user)"><i class="uk-icon-edit"></i></a>
                    <a href="#0" @click="delete_user(user)"><i class="uk-icon-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <!--{{ pagination('/manage/users?page=', page) }}-->
</div>

{% endblock %}